@charset "utf-8";
/* CSS Document */

html, body, h1 {
	margin: 0;
	padding: 0;
}

header {
	height: 119px;
	width: 100%;
	background: #333;
	color: #DDD;
	-moz-box-shadow: 0 1px 10px #999;
	-webkit-box-shadow: 0 1px 10px #999;
	box-shadow: 0 1px 10px #999;
	border-bottom: 1px solid #333;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
}

footer {
	height: 40px;
	text-align: center;
}

#logo {
	margin: 0 auto;
	min-width: 960px;
	height: 89px;
	text-align: center;
}

#logo img {
	margin-top: 5px;
	height: 80px;
}

#title {
	min-width: 960px;
	text-align: center;
	background: #666;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}

#main {
	margin: 135px auto 10px auto;
	padding: 0 10px;
	width: 1200px;
	overflow: hidden;
	font-size: 14px;
}

#main > .client,
#main > .setting {
	padding: 15px 25px;
	border: 1px solid #ccc;
	background: #EEE;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}

#main h2,
#main h4 {
	margin: 0;
	padding: 0;
}

#main h2 {
	display: inline-block;
	margin-right: 25px;
}

#main > .client h4 {
	margin: 5px 0;
}

#main > .setting .content {
	background: #DDD;
	margin: 10px 0 0 0;
	padding: 4px 10px;
	border: 1px #CCC solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#main > .setting span {
	display: inline-block;
	font-size: 14px;
	width: 115px;
	text-align: center;
}

#main > .setting label {
	text-align: center;
	display: block;
}

#main > .setting input {
	display: inline-block;
	width: 600px;
}

#main > .client #request {
	float: left;
}

#main > .client #response {
	float: right;
}

#main > .client #request,
#main > .client #response {
	background: #DDD;
	margin: 0;
	width: 550px;
	display: inline-block;
	padding: 4px 10px;
	border: 1px #CCC solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#main > .client #request .option,
#main > .client #request .header,
#main > .client #request .params {
	background: #CCC;
	border: 1px #BBB solid;
	padding: 4px 5px 2px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#main > .client #request .header .key,
#main > .client #request .params .key {
	margin: 0 0 2px 0;
}

#main > .client #request .header .value,
#main > .client #request .params .value {
	margin: 0 0 2px 2px;
	width: 348px;
}

#main > .client #request .file input {
	background: #CCC;
	height: 24px;
	line-height: 26px;
	width: 538px;
	border: 1px #BBB solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#main > .client #request .option .host {
	width: 247px;
	margin: 1px -2px 0 0;
}

#main > .client #request .option .api {
	width: 175px;
	margin: 1px -2px 1px 0;
}

#main > .client #request .option .method {
	width: 100px;
	margin: 1px -2px 1px 0;
}

#main > .client #request .option .uri {
	width: 424px;
	margin: 1px -2px 2px 0;
}

#main > .client #response .header {
	height: 125px;
}

#main > .client #response .json {
	height: 125px;
}

#main > .client #request > span,
#main > .client #response > span {
	display: block;
	margin: 10px 0 3px 2px;
}

#main > .setting > .client,
#main > .client > .setting {
	color: #CCC;
	cursor: pointer;
}

button {
	margin: 0;
	width: 100px;
	height: 26px;
	font-family: "Courier New";
	font-size: 14px;
}

input {
	padding: 4px 5px;
	font-family: "Courier New";
	font-size: 14px;
	border: 1px #CCC solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 1px 0;
}

textarea {
	resize: none;
	width: 539px;
	height: 150px;
	padding: 5px;
	margin: 0;
	font-family: "Courier New";
	font-size: 14px;
	border: 1px #CCC solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

select {
	width: 150px;
	padding: 3px 5px 3px 2px;
	font-family: "Courier New";
	font-size: 14px;
	border: 1px #CCC solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 1px 0;
}
